head{
    background-color: beige;
    width: 100%;
    height: 300px;
    }
    body{
    background-color: brown;
    color: green;
<Element CLASS="stijl.css">
<Element ID="stijl.css">
    }
    footer{
        background-color: yellow;
        width: 150%;
        height: 300px;
    }
